body {
  text-align: center;
  background-color: #282c34;
}

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  margin-top: 3%;
  pointer-events: none;
  width: 300px;
}

.container {
  display: flex;
  justify-content: center;
  border: 3px solid white;
  border-radius: 50px;
  margin: 3% 15%;
  height: 474px;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
